.form-wrapper {
  margin-bottom: 20px;
}

.input {
  min-width: 60%;
  padding: 5px 10px;
  background-color: #eeeeee;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 15px 0 0 15px;
}

button {
  padding: 5px 10px;
  background-color: #eeeeee;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 0 15px 15px 0;
  transition: background-color 0.5s;
  &:hover {
    background-color: #727171;
    color: #ffffff;
  }
}
